nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center items */
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
  height: 80px; /* Fixed height */
  padding: 0 1rem; /* Side padding */
}

.logo-container {
  display: flex;
  align-items: center; /* Vertically center logo content */
}

.logo {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.nav-links-container {
  flex-grow: 1; /* Take available space to center links */
  display: flex;
  justify-content: center; /* Center the list in the middle column */
}

ul {
  list-style: none;
  display: flex;
  align-items: center; /* Vertically center the list */
  gap: 4rem;
}

.auth-container {
  display: flex;
  align-items: center; /* Vertically center the auth links */
  cursor: pointer;
}

nav h1 {
  color: #0b3d0b; /* Black header text */
  font-size: 2.25rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

nav ul li a, 
nav h1 a, 
nav span a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set text color */
  cursor: pointer;
}

nav ul li a:hover, 
nav h1 a:hover,
nav span a:hover {
  color: #0b3d0b; /* Dark forest green on hover */
  cursor: pointer;
}
