/* src/components/IngredientsPage.css */

.ingredients-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Start slightly below */
    padding-top: 5.5rem; /* Adjust this value to match the height of your navbar */
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
  }

  span{
    color: #0b3d0b;
  }

  .go {
    color: #085d08;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  .go:hover{
    color: #085d08;
    text-decoration: underline;
  }
  .ingredients-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    
    max-height: 300px; /* Set the maximum height for the container */
    overflow-y: scroll;  /* Enable scrolling */
    padding: 1rem;
    
    border: 1px solid #ccc; /* Add a border */
    border-radius: 1rem; /* Set border radius */
    
    /* Prevent the container from shrinking */
    flex-shrink: 0;
    
    /* Hide scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }
  
  .ingredients-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .recipes-container,
  .favorites-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start; /* Align items at the start for overflow */
      gap: 1rem; /* Add spacing between cards */
      
      /* Ensure the containers take up the full viewport height */
      min-height:550px; /* Subtract the padding or navbar height if needed */
      width: 100%;

      background-repeat: no-repeat;
      background-image: url('../assets/card.jpg');
      background-size: cover;  /* Ensure the image covers the entire panel without stretching */
      background-position: center;
      
      /* Make the content scrollable if it overflows */
      overflow-y: auto;
      padding-top: 20px;
      padding-bottom: 70px;
  }
  
  .recipe-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #166d16;
    border-radius: 1rem;
    padding: 50px;
    margin: 10px;
    width: 350px;
    height: 175px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.1s;
    max-width: 100%;
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .recipe-card button{
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #335f33;
    border: 2px solid;
    cursor: pointer;
    font-size: .9rem;
    transition: transform 0.2s, background-color 0.1s;
    font-size: 17px;
  }

  .recipe-card:hover {
    transform: scale(1.05);
    background-color: #0b3d0b;
    color: white; /* Change text color to white on hover */
  }
  
  .recipe-card h3,
  .recipe-card p {
    color: inherit; /* Inherit color from the parent .recipe-card */
  }
  .recipe-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .recipe-card p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

.ingredient-button {
    border-radius: 1rem;
    color: #000;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #fff;
    border: 2px solid #166d16;
    cursor: pointer;
    font-size: .9rem;
    transition: transform 0.2s, background-color 0.1s;
  }
  
  .ingredient-button.selected {
    background-color: #cccccc;
    transform: scale(0.95);
  }
  
  .ingredient-button:hover {
    background-color: #166d16;
    color: white;
  }

  /* Animation for selected ingredients */
.selected-ingredient {
  opacity: 0;
  transform: scale(0.8);
  animation: popOut 0.3s forwards;
}

/* Pop-out animation for selected ingredients */
@keyframes popOut {
  0% {
      opacity: 0;
      transform: scale(0.6);
  }
  100% {
      opacity: 1;
      transform: scale(.9);
  }
}
  
  button {
    padding: 1rem;
    border: 2px solid #166d16;
    border-radius: .5rem;
    font-size: large;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: #085d08;
    color: white;
  }
  
  .selected-ingredients-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 10px;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .selected-ingredients-container button{
    background-color: #166d16;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
    font-size: 1.2rem;
    transition: transform 0.2s, background-color 0.1s;
    border-radius: 1rem;
  }

  .selected-ingredients-container button:hover{
    background-color: #7e2525;
    color: white;
  }

  /* Style for the search bar */
.ingredient-search {
  width: 70%;
  padding: 12px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}

/* Search bar focus style */
.ingredient-search:focus {
  border-color: #5cb85c; /* Green border on focus */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/* Style for dropdown overlay */
.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-height: 200px;
  width: 75%;
  overflow-y: auto;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin-top: 350px; /* Overlay effect to prevent dropdown from pushing content */
}

/* Dropdown item style */
.dropdown-item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s;
}

/* Dropdown item hover effect */
.dropdown-item:hover {
  background-color: #f1f1f1;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
    animation: slideIn 0.3s forwards;
    display: flex;
    flex-direction: column;
  }
  
  @keyframes slideIn {
    to {
      transform: translateY(0);
    }
  }
  
  .close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  /* List styling: column display with reduced spacing */
  .modal-content p {
    margin: 2px 0;   /* Small margin to reduce the spacing */
    line-height: 1.1; /* Adjust line height for tighter spacing */
  }

  .cook-time{
    padding-top: 30px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-container button{

    width: 45%;
  }

  .ingredients-selection-card{
    min-height: 100vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .empty-message{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    color: #0b3d0b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }




  .recipe-type-dropdown, .max-time-input, .ingredient-search-input {
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1px solid #ccc;
    font-size: 15px;
    max-width: 100%;
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  .allergy-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust gap between each allergy option */
  padding: 1rem 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Add some space between checkboxes */
  font-size: 18px;
}

.allergy-filter-checkbox {
  margin-right: 5px; /* Space between the checkbox and its label */
}


  .selected-ingredients-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  .remove-ingredient-button {
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
  }
  
  .remove-ingredient-button:hover {
    background-color: #ff1a1a;
  }

  .form-label{
    font-weight: bold;
    font-size: 17px;
  }
  
  .recipe-selection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
  }

  .ingredients-list {
    max-width: 100%;
    overflow-x: scroll;
    font-size: 15px;
    background-color: #fafafa;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .instructions-list{
    max-width: 100%;
    font-size: 15px;
    background-color: #fafafa;
    border-radius: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
  }
  
  .ingredients-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  .instructions-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  
  .ingredient-item{
    width: 50px;
  }

  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears on top of everything */
  }
  
  .spinner {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-top: 5px solid white; /* Highlighted border for spinning effect */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animation */
  }
  
  /* Define spin animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  /* Healthy Meter*/
  .modal-content p {
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 1rem;
    width: fit-content;
    margin-top: 10px;
  }
  
  .healthy-meter-1 {
    color: rgb(104, 0, 0);
  }
  
  .healthy-meter-2 {
    color: rgb(116, 76, 1);
  }
  
  .healthy-meter-3 {
    color: rgb(95, 95, 0);
  }
  
  .healthy-meter-4 {
    color: rgb(53, 144, 53);
  }
  
  .healthy-meter-5 {
    color: rgb(0, 86, 0);
  }

  .recipe-container-details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: .5rem 0;
  }

  .cooking-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between the text and the timer */
  }
  
  